*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(247, 244, 244);;
   
    
}
.container{
    margin: 150px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    

}
.facebook{
    width: 47%;
}
h1{
    color: royalblue;
    font-size: 80px;
    font-family: Helvetica, Arial, sans-serif;
}
h3{
    color: black;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.right{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}
.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 450px;
    height: 370px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
    

}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px;
    
}
input{
    width: 380px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
}
input:focus {
    box-shadow: 0px 0px 1px 1px rgb(22, 111, 229);
}
div button{
    
    color: white;
    background-color: royalblue;
    width: 400px;
    height: 300px;
    margin: 10px 0px;
    padding: 0px 0px;
    outline: none;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-family: Helvetica, Arial, sans-serif;
    border: 1px;
}
div a{
    color: #166fe5;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
}
hr{
    border: 1px solid grey;
    width: 380px;
    margin: 15px 0px;
    opacity: 25%;
}

.createaccount a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:#36a420;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 30px;
    color:white;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
 
}

p{
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 20px;
    font-family: Helvetica, Arial, sans-serif;
}